@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@400;700&family=Fondamento&family=Roboto&display=swap');

*,
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width : 1080px;
    margin: auto;

}

.text-header {
    font-family: 'Fondamento', cursive;
    text-align: center;
    transform: translate(0,200px);
    font-weight: bold;
    letter-spacing: 5px;
    color: #e6e6e6f1;
    background-color: #0d6dfd6b;
    width: 70%;
    padding: 5px;
    border-radius:15px

}

h1, h2 {
    padding-top: 25px;
    font-size:3rem;
    font-weight: 1000;
    letter-spacing:6px; 
    text-align: center;
}

h2 {
    font-family: "Arima Madurai" , cursive, serif ;
    font-size:2rem;
    font-weight: 400;
    letter-spacing:4px;
}

nav {
    z-index: 1000;
}

ul {
list-style-type: none;
}
li {
    z-index: 0;
}

ol {
    counter-reset: item;
    list-style-type: none;
}

.steps{
    text-align: left;
    color: rgb(77, 77, 77);  
    margin: 15px 8px;
}


ol li:before {
    content: 'Etape ' counter(item, decimal) ' : ';
    counter-increment: item;
    font-size:1.2em;
    font-weight: 500;  
    text-align:left;
}
.steps li {
    margin-top: 18px;
  
}

.cuisson-title {
    font-weight: 600;
    font-size: 0.8rem;
    font-style: italic;
}
.cuisson-infos{
    font-size: 0.8rem;
}

.description {
    color:red !important;
    background-color:blue;
}

footer {
    margin-bottom: 30px;
    padding: 25px;
    text-align: center;
  }


  form {
    position: relative;
    margin: 30px auto;
    max-width:450px;
    text-align: left;
}

.form-control {
    border: 1px solid red;
}

form div {
    margin: 20px;
}

input, select, textarea {
    width: 100%;
    font-size: 18px;
    padding: 8px 16px;
    margin:5px auto;
    line-height : 22px;
    letter-spacing: 1.5px;
    color: rgb(59, 59, 59);
    background-color:#cecece85 ;
    border-radius: 8px 0 8px 0;
}


.btn-contact { 
    padding: 6px 10px; 
    margin: 12px 0 8px 70%;
    border-radius: 8px;
    letter-spacing: 1.2px;
    font-weight: 400;
}

.btn-contact:hover {
    font-weight: 700;
    border : 2px solid #262626 ;
}

.msg {
    margin: auto;
    margin-top: 5px;
    max-width:450px;
    height: 40px;

}

.msgSuccess {
    text-align: center;
    font-size: 18px;
}

.msgError {
    color : rgba(255, 0, 0, 0.836);
    text-align: center;
    font-size: 18px;
    font-weight: 200;
    letter-spacing:1px;
}


.copyright{
    font-family: "Helvetica Neue";
    font-weight : 400;
    text-decoration: none;
    color :darkgray;
  }

  .copyright.link:hover {
    font-weight: 600;
    color :darkgray;
  }

  .social-icons {
    width : 25%;
    height: 40px;
    display: flex;
    justify-content: space-around;

  }
  
  .logo-social {
    border-radius: 10%;
  }
  
  .logo-social:hover{
    background: #c2c2c28c ;
  }


.user-infos {
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size : 0.8em;
    padding: 3px 6px;
    border-radius : 8px;
    margin: 6px 6px;
    display: inline-block;
}

.user-infos.category{
    background-color :rgba(111, 139, 107, 0.699);
}

.user-infos.allergen{
    background-color :rgba(230, 17, 17, 0.295);
}

.user-infos.ingredient{
    background-color :rgba(64, 209, 100, 0.63);
}

.user-infos.user{
    background-color :#0d6dfd60;
}

.form-button {
    position : absolute;
    top: -90px;
}


.icon {
    width :15px;
    height: 15px;
}

.recipe-row{
margin : 15px auto;
height: 100px;
  
}


.recipe-description {
    display: inline-block;
    overflow: hidden;
    padding-right: 12px;
    padding-bottom: 25px;;
    position: relative;

}

.recipe-description::before {
	position: absolute;
    content : "...";
	inset-block-end: 0; /* "bottom" */
	inset-inline-end: 0; /* "right" */
}


.card-container {
    display: flex;
    justify-content: center;
    min-width: 400px;
    min-height: 400px;
    flex-wrap: wrap; 
    margin: 30px 25px 5px 25px;
    padding: 15px;
    background-image:
    linear-gradient(#0d6dfd42, #0d6dfd2c),
     url("../images/food-bg.jpg") ;
     border-radius: 10px;
}

.ingredients-container{
    background-image:
    linear-gradient(#0d6dfd42, #0d6dfd38),
     url("../images/ingredients.jpg") ;
     border-radius: 10px;
     min-height : 400px;
     background-size: cover;
}

@media screen and (max-width: 768px) {
    .ingredients-container{
        min-height : 200px;
    }

} 


.card {
    position: relative;
    width: 220px;
    border-radius: 10px 10px 5px 5px !important;
 
    margin: 15px 15px 15px 15px;
    padding-bottom: 12px;
    box-shadow: 10px 8px 5px #7e858f70;
}

.card-title {
    text-align: center;
    height: 40px; 
    font-family: "Arima Madurai" , cursive, serif ;
    font-weight: bold;
    padding-top: 15px;;
}

.card-text {
    font-family:'Roboto', sans-serif;;
    min-height: 100px;
    margin-top: 18px 8px;
    text-align: justify;
    color: rgb(77, 77, 77);
} 


.comments-text {
    font-family:'Roboto', sans-serif;
    color: rgb(77, 77, 77);
    font-size: 0.9rem;
}



